.App {
  text-align: center;
}

html {
  background-color: #eef2ff;
}

.App-banner {
  margin-top: 4vh;
  margin-bottom: 4vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
}

.App-header {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-polygon {
  width: 10vh;
  height: auto;
  pointer-events: none;
}

.App-title {
  margin-left: 1.5vh;
  font-size: 3vh;
  font-weight: 1;
}

.App-link {
  color: #61dafb;
}

.Commands {
  /* margin-top: 10vh; */
  margin-bottom: 6vh;
  display: flex;
  flex-direction: row;
}

.Toastify__toast-container {
  width: 400px;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  .App-footer {
    margin-top: 6vh;
    font-size: 1.2vh;
  }
}

@media only screen and (orientation: portrait) {
  .App-footer {
    margin-top: 6vw;
    font-size: 1.2vw;
  }
}
